#contain {
  clear: both;
}

.fake-image {
  float: left;
  margin-right: 14px;
  cursor: pointer;
}

#contain:hover div.text {
  display: block;
}

.text {
  background-color: #313532;
  color: white;
  float: left;
  display: none;
}
